.Calc{
    background: #4682b4;;    
    max-width:100%;
    border-radius:5px;
    box-sizing: border-box;
    padding: 10px;
    border: 2px solid #9f9f9f;
    box-shadow:2px 2px rgb(66, 66, 66);
    
}

.formAndModel{
    max-width:100%;
    display: flex;
    align-items: stretch;
    justify-content:space-between;
    max-height: 100%;
    height:600px;
}

.graphModelBox{
    max-height:100%;
    margin:10px;
    width: 50%;
    

}
.pipeGraphForm{
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 100%;
    margin: 10px;
    width: 50%;
    border-radius: 5px;
    border: 2px solid #9f9f9f;
    box-shadow:2px 2px rgb(66, 66, 66);
}
