/* Header.css */
.header {
  width: 100%;  
  padding: 10px 30px;
  /* Пример отступов */
  background-color: #ffffff;
  /* Цвет фона */  
  border-bottom: 1px solid rgb(179, 179, 179);
}

.header-content {
  margin: 0 auto;
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 1000;
  font-size: 23px;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 30%;
  margin: 0 1.5%;

}

.logo-image {
  height: auto;
  width: 40px;

}

.navigation {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1.5%;
}

.right-section {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: right;
  margin: 0 1.5%;

}

.nav-button {
  background-color: #0d4c6a;
  color: white;
  padding: 10px 20px;
  margin-right: 10px;
  border: 2px solid #0d4c6a;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.nav-button:hover {
  background-color: transparent;
  color: #0d4c6a;
  border-color: #0d4c6a;
}

.nav-link {
  text-decoration: none;
  color: #0d4c6a;
  margin-left: 20px;
  font-weight: 1000;
  font-size: 23px;
  transition: background-color 0.3s, color 0.3s;
}

.nav-link:hover {
  background-color: transparent;
  color: #3a7a8c;
}